 body {
   background-color:#ff9688;
 }
 h1{
font-family: sans-serif; text-align: center; color:#1c140d;border-color: inherit;
 }
p {
  font-family: monospace; font-size: 30px; text-align: center;
}


}
nav {
  margin-left:13%;
}
#frase{
  border:10px
  color:#161613

}

ul{
  text-align: inherit;
}
